{% extends "_layouts/main" %}

{% set entry = craft.entries.slug('homepage').one() %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-lg-9">

			{# FEATURED CATEGORIES #}
			<div class="row">
				{% for cat in entry.featuredCategories %}
		    		<div class="col-md-6">
		                {% if cat.categoryImage.count() > 0 %}
		                    {% set catImgUrl = cat.categoryImage.one().url %}
		                {% else %}
		                    {% set catImgUrl = 'assets/img/bags-3.jpg' %}
		                {% endif %}
		                <a href="{{ cat.url }}" style="background-image: url('{{ catImgUrl }}'); background-size: cover;" class="featured-category">
		                    <span class="featured-category-content">
		                        <span class="subtitle">Category</span>
		                        <span class="title">{{ cat.title }}</span>
		                        <span class="view">view {{ cat.title }}</span>
		                    </span>
		                </a>
		            </div>
		    	{% endfor %}
			</div>

			<div>
				{% for cat in entry.featuredCategories %}
					<h5>{{ cat.title }}</h5>
					<div class="row">
						{% set catEntries = craft.entries.section("products").relatedTo(cat) %}
						{% for ent in catEntries %}
							<div class="col-6 col-lg-3">
								{{ ent.title }}
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			
		</div>
		<div class="col-md-4 col-lg-3">
			{% embed "_includes/categories" %}{% endembed %}
		</div>
	</div>

{% endblock %}